<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}

    {% if error %}
    <h1>{{error}}</h1>
    {% elif not products %}
    <h1>Product not found</h1>
    {% else%}
        <table>
            <caption>Product Display</caption>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            {% for items in products %}
            <tr>
                <td>{{items.get('name')}}</td>
                <td>{{items.get('category')}}</td>
                <td>{{items.get('price')}}</td>
            </tr>
            {% endfor %}
        </table> 
    {% endif %}
    {% include "footer.html" %}
</body>
</html>